<<<<<<< HEAD
<h3> Bienvenido a <%= title %></h3>
El portal donde podrá crear sus propios juegos!
=======
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus propios juegos!</p>
>>>>>>> creditos
